body {
  height: auto;
}

h1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Karla, sans-serif;
  color: #4a4a4a;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

h4 {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  float: none;
  font-family: Karla, sans-serif;
  color: #4a4a4a;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

h5 {
  display: block;
  margin-top: 15px;
  margin-bottom: 3px;
  float: none;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Karla, sans-serif;
  color: #828282;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-indent: 0px;
  text-transform: none;
}

.button {
  display: inline-block;
  margin-top: 59px;
  padding: 15px 35px;
  border-radius: 7px;
  background-color: #00c2a2;
  box-shadow: 0 2px 0 0 #02967e;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #828282;
  box-shadow: 0 2px 0 0 #696969;
}

.button.hero-button {
  display: inline-block;
  margin-top: 0px;
  float: none;
  border: 2px solid #000;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: all 500ms ease, color 500ms ease;
  transition: all 500ms ease, color 500ms ease;
  font-family: Karla, sans-serif;
  color: #000;
  font-weight: 500;
  text-transform: none;
}

.button.hero-button:hover {
  border-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.2);
  box-shadow: none;
  color: #fff;
}

.button.hero-button.right {
  margin-top: 0px;
  box-shadow: none;
}

.button.hero-button.ppage {
  margin-top: 30px;
  box-shadow: none;
}

.button.right {
  background-color: #f62681;
  box-shadow: none;
}

.button.right:hover {
  box-shadow: none;
}

.hero-section {
  position: static;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.hero-section.ppage {
  background-image: url('../images/first-electric-duck.png');
  max-height: 100%;
  /* background-position: 0% 0%, 0px 50%; */
}

.navbar {
  position: relative;
  z-index: 9999;
  overflow: visible;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.18);
  background-color: #fff;
}

.upper {
  margin-top: 100px;
  margin-bottom: 20px;
  font-family: Merriweather, serif;
  color: hsla(0, 0%, 94.9%, 0.65);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
}

.upper.title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Karla', cursive;
  color: #f62681;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.section.priority {
  padding-top: 0px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
  background-image: none;
}

.section.oliver {
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  background-image: none;
}

.section {
  padding-top: 0px;
  padding-bottom: 120px;
  background-color: #f2f2f2;
  background-image: none;
  opacity: 1;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.hero-small-line {
  position: relative;
  display: block;
  width: 20%;
  height: 3px;
  margin: 15px auto;
  background-color: #f62681;
  text-align: center;
}

.hero-small-line.header {
  width: 100px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.numbers {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Karla, sans-serif;
  color: #f62681;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.white-tittle {
  margin-bottom: 30px;
  font-family: Merriweather, serif;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.white-tittle.fact {
  margin-bottom: 40px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Karla, sans-serif;
  color: #4a4a4a;
  font-size: 80px;
  font-weight: 100;
}

.menu-button {
  display: block;
}

.div-block {
  margin: auto 420px 60px;
}

.overall-column {
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.browser {
  width: 100px;
  height: 100px;
  float: none;
  border: 1px solid #adafb3;
  border-radius: 22px;
  -webkit-transition: border-color 1000ms ease, box-shadow 1000ms ease;
  transition: border-color 1000ms ease, box-shadow 1000ms ease;
}

.browser:hover {
  border-color: #00c2a2;
  box-shadow: 0 0 2px 1px rgba(173, 175, 179, 0.47);
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.browser.compatibility {
  width: 35px;
  height: 35px;
  margin: 20px 5px;
  border: 0px none #f62681;
  border-radius: 0px;
  background-color: #dedede;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.browser.compatibility:hover {
  background-color: rgba(26, 29, 46, 0.97);
  box-shadow: none;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.browser.compatibility.icon {
  width: 120px;
  height: 120px;
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  border-color: transparent;
  border-radius: 23px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#f5f2f2));
  background-image: linear-gradient(180deg, #f7f7f7, #f5f2f2);
  -webkit-transition-property: all;
  transition-property: all;
}

.browser.compatibility.icon:hover {
  border-style: none;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e3e3e3));
  background-image: linear-gradient(180deg, #f0f0f0, #e3e3e3);
  box-shadow: none;
}

.browser.testimonials-image-block {
  width: 90px;
  height: 90px;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 70px;
  float: left;
  border-radius: 0px;
  text-align: center;
}

.icon-image {
  display: block;
  float: none;
}

.socil-icon {
  width: 40px;
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.5;
  -webkit-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
}

.socil-icon:hover {
  opacity: 0.6;
}

.socil-icon.safari {
  margin-top: 31px;
}

.testimonials-tittle {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  font-family: Merriweather, serif;
  color: #00c2a2;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.testimonials-text {
  margin: 30px 40px 20px;
  float: none;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 35px;
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.footer {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #292929;
}

.copyright {
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  opacity: 1;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
}

.nav-link {
  padding: 12px 12px 10px;
  border-radius: 9px;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Karla, sans-serif;
  color: #808080;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
  color: #f62681;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-link.w--current {
  display: inline-block;
  padding-right: 12px;
  padding-left: 12px;
  opacity: 1;
  font-family: Karla, sans-serif;
  color: #fff;
  font-weight: 500;
}

.nav-link.w--current:hover {
  border-radius: 0px;
  color: #fff;
  text-decoration: none;
}

.icon-menu {
  color: #fff;
}

.icon-menu:hover {
  color: #f62681;
}

.navbar-scroll {
  position: fixed;
  display: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.78);
  background-image: url('../images/example-bg.png');
  background-size: 125px;
  box-shadow: none;
}

.testimonilas-clients {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #f5f5f5;
}

.hero-headline {
  margin: 0px 0px 10px;
  float: none;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}

.nav-menu._2 {
  display: inline-block;
  width: auto;
  margin-top: 0px;
  float: right;
  text-align: right;
}

.nav-menu._3 {
  margin-top: 5px;
}

.text-hero {
  margin-top: 0px;
  padding-bottom: 35px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.about-text {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
}

.about-text._2 {
  margin-right: 150px;
  margin-bottom: 0px;
  margin-left: 150px;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.about-text.tittle {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-style: none;
  font-family: Karla, sans-serif;
  color: #f62681;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.about-text.tittle.center {
  padding-top: 40px;
  padding-bottom: 0px;
  font-family: Karla, sans-serif;
  color: #120149;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.about-text._3 {
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 100px;
  padding-left: 0px;
  font-family: Karla, sans-serif;
  color: #828282;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0px;
}

.about-text._3.center {
  margin-right: 50px;
  margin-left: 50px;
  color: #828282;
  text-align: left;
}

.about-text.right {
  text-align: left;
}

.about-text.sev {
  color: #4a4a4a;
}

.dark-tittle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  text-align: left;
  text-transform: none;
}

.dark-tittle.white {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 22px 20px;
  border-radius: 15px;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

.dark-tittle.white.header {
  padding: 3px 12px;
  border-width: 2px;
  border-radius: 10px;
  font-size: 23px;
}

.dark-tittle.white.left {
  display: block;
  margin-top: 5px;
  padding: 0px;
  font-size: 25px;
  font-weight: 400;
}

.dark-tittle.light {
  margin-top: 60px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-left: 30px;
  font-family: Karla, sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.dark-tittle.center {
  display: block;
  margin-right: 200px;
  margin-bottom: 30px;
  margin-left: 200px;
  border: 1px dashed hsla(0, 0%, 100%, 0.49);
  border-radius: 0px;
  font-family: Karla, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

.icon-service {
  display: block;
  width: 60px;
  height: 60px;
  min-width: 0px;
  margin-right: 20px;
  margin-left: 0px;
  padding: 20px;
  float: left;
  border-radius: 50px;
  background-color: #f62681;
}

.icon-service:hover {
  background-color: #f62681;
}

.section-info.contact {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f6f6f6;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.contact-map-fprm {
  position: relative;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.left-arrow {
  display: none;
  margin-right: auto;
  opacity: 0.4;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.left-arrow:hover {
  opacity: 1;
}

.right-arrow {
  display: none;
  margin-left: auto;
  opacity: 0.4;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.right-arrow:hover {
  opacity: 1;
}

.hero-container {
  position: static;
  top: auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.browser-div {
  display: block;
  margin-top: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px none hsla(0, 0%, 100%, 0.49);
  border-bottom: 1px none hsla(0, 0%, 100%, 0.49);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.browser-div.in-footer {
  margin-top: 8px;
  text-align: left;
}

.browser-div.team-sec {
  text-align: center;
}

.submit-button {
  width: auto;
  padding: 20px 35px;
  border-radius: 5px;
  background-color: #f62681;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: none;
}

.submit-button:hover {
  background-color: rgba(26, 29, 46, 0.97);
  opacity: 1;
}

.text-field {
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #c2c2c2 #f6f6f6 #fff;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 5px;
  background-color: #ededed;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Karla, sans-serif;
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.text-field:hover {
  color: #828282;
}

.text-field.name {
  width: 49%;
  float: left;
  border-color: #c2c2c2 #f6f6f6 #fff;
  border-right-style: solid;
  border-left-style: solid;
  border-radius: 5px;
  background-color: #ededed;
  color: #828282;
  font-size: 14px;
  text-align: left;
}

.text-field.mail {
  width: 49%;
  margin-bottom: 15px;
  float: right;
  border-color: #c2c2c2 #f6f6f6 #fff;
  border-right-style: solid;
  border-left-style: solid;
  border-radius: 5px;
  background-color: #ededed;
  color: #828282;
}

.text-area {
  min-height: 175px;
  margin-bottom: 20px;
  border-color: #c2c2c2 #f6f6f6 #fff;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 5px;
  background-color: #ededed;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Karla, sans-serif;
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.success-message {
  border: 3px dashed #f62681;
  border-radius: 5px;
  background-color: transparent;
}

.inner-tittle {
  margin-bottom: 80px;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

.inner-tittle.grey {
  margin-bottom: 20px;
  color: #404040;
  font-size: 14px;
  text-align: left;
}

.service {
  padding-top: 0px;
  padding-bottom: 100px;
}

.brand {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
}

.brand.w--current {
  margin-top: 5px;
  margin-bottom: 0px;
  float: left;
}

.footer-container {
  text-align: center;
}

.brand-scroll.w--current {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  text-align: center;
}

.brand-scroll.top {
  float: none;
}

.brand-scroll.second {
  z-index: 3000;
  display: block;
  margin-top: 0px;
  float: none;
  background-image: url('../images/temp-electric-duck.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.brand-scroll.second.w--current {
  margin-top: 10px;
}

.logo {
  margin-bottom: 0px;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 34px;
  font-weight: 300;
}

.logo.white {
  display: block;
  padding-top: 0px;
  /* background-image: url('../images/temp-electric-duck.png'); */
  background-position: 0px 0px;
  background-size: auto;
  font-family: Karla, sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: none;
}

.hero-text {
  display: block;
  margin-top: 100px;
  margin-bottom: 140px;
  float: none;
}

.slider {
  width: 49%;
  height: 100%;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.slider.hero {
  width: auto;
  height: 100%;
  margin-right: auto;
  background-color: transparent;
}

.slider.screen {
  width: 33.3%;
  margin-right: 0px;
}

.slide-1 {
  position: relative;
  display: inline-block;
  float: none;
}

.slide-nav {
  display: block;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 11px;
}

.section-container {
  text-align: center;
}

.container {
  text-align: center;
}

.clients {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #292929;
}

.client-slider {
  height: auto;
  background-color: transparent;
}

.slide-responsive {
  width: 20%;
  text-align: center;
}

.screenshoots {
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

._2 {
  width: 49%;
  margin-top: 0px;
  float: none;
  color: #4a4a4a;
  font-size: 16px;
  text-align: center;
}

.image-middle {
  margin-top: 0px;
}

.right-tittle {
  display: block;
  color: #4a4a4a;
  font-size: 15px;
  text-align: left;
}

.div-fact {
  display: inline-block;
  width: 24.6%;
  margin-right: 3px;
  margin-left: 0px;
  padding: 50px 10px 45px;
  border-right: 1px dashed hsla(0, 0%, 76.1%, 0.8);
  text-align: center;
}

.screenshoots-slider {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  background-color: transparent;
}

.arrow {
  display: none;
}

.slive-nav {
  display: none;
}

.open-text {
  display: inline-block;
  margin-right: 20px;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.arrow-mapp {
  display: inline-block;
  font-family: Karla, sans-serif;
  color: #fff;
}

.map {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}

.open {
  position: static;
  width: 50px;
  height: 50px;
  margin-top: 40px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f62681;
  opacity: 0.5;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
}

.open:hover {
  opacity: 1;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.form-row {
  margin-top: 70px;
}

.info-text {
  margin-bottom: 20px;
  color: #4a4a4a;
  line-height: 20px;
  text-align: left;
}

.social-icons {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
}

.social-icons:hover {
  padding: 5px;
  color: #f62681;
}

.social-text {
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Karla, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 7px;
  text-align: center;
  text-transform: uppercase;
}

.social-text:hover {
  opacity: 1;
}

.number {
  display: inline-block;
  padding: 15px 20px 20px;
  border: 1px solid #000;
  font-family: Karla, sans-serif;
  color: #4a4a4a;
  font-weight: 600;
  text-align: left;
}

.number.text {
  padding-right: 30px;
  padding-left: 30px;
  border-style: none dashed none none;
  border-width: 8px 1px 8px 8px;
  border-color: rgba(173, 175, 179, 0.2) hsla(0, 0%, 76.1%, 0.8) rgba(173, 175, 179, 0.2) rgba(173, 175, 179, 0.2);
  font-family: Karla, sans-serif;
  color: #f62681;
  font-size: 85px;
}

.div-text {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.div-text.center {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}

.div-text.center.white {
  margin-top: 40px;
  margin-bottom: 60px;
}

.tittle {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px none #000;
  color: rgba(150, 151, 153, 0.52);
}

.tittle.features {
  margin-bottom: 120px;
}

.tittle.testimonials {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-style: none;
}

.tittle.ppage {
  background-color: #f6f6f6;
}

.div-row {
  padding-right: 70px;
  padding-left: 150px;
  text-align: center;
}

.portfolio-post {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background-image: url('../images/chicktech.png');
  background-position: 50% 50%;
  background-size: cover;
}

.portfolio-post.second {
  background-image: url('../images/article.jpg');
}

.portfolio-post.third {
  background-image: url('../images/doi.png');
}

.portfolio-post.fourth {
  background-image: url('../images/release-notes-square.png');
}

.portfolio-post.fifth {
  background-image: url('../images/nhmla.png');
}

.portfolio-post.sixth {
  background-image: url('../images/whole-foods.png');
}

.portfolio-link {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid brown;
  -webkit-transition: border-color 400ms ease, color 400ms ease;
  transition: border-color 400ms ease, color 400ms ease;
  font-family: Karla, sans-serif;
  color: brown;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}

.color-box {
  width: 100%;
  height: 100%;
  padding: 140px 20px 20px;
  background-color: rgba(38, 173, 169, 0.9);
}

.color-box.forth {
  background-color: rgba(91, 177, 212, 0.9);
}

.color-box.second {
  background-color: rgba(201, 52, 52, 0.9);
}

.color-box.sixth {
  padding-top: 140px;
  background-color: rgba(212, 125, 91, 0.9);
}

.color-box.third {
  background-color: rgba(199, 147, 52, 0.9);
}

.color-box.fivfth {
  background-color: rgba(91, 143, 212, 0.9);
}

.portfolio-tittle {
  position: static;
  display: block;
  margin-top: 20px;
  font-family: Karla, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
}

.sub-tittle {
  margin-top: 0px;
  font-family: Karla, sans-serif;
  color: #f62681;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub-tittle.portfolio {
  margin-top: 0px;
  font-family: Karla, sans-serif;
  color: #000;
}

.facts {
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

.facts.bar {
  padding-bottom: 35px;
}

.portfolio-section {
  margin-bottom: 40px;
}

.portfolio-section.related {
  margin-top: 70px;
}

.list-iteam {
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 30px;
  border-bottom: 1px dashed hsla(0, 0%, 76.1%, 0.8);
}

.list-iteam.lat {
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.team {
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

.div-team {
  display: inline-block;
  width: 220px;
  height: 300px;
  margin-right: 5px;
  margin-left: 5px;
  background-image: url('../images/shutterstock_130103273.min_.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-team.third {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  background-image: none;
}

.team-tittle {
  padding-bottom: 5px;
  font-family: Karla, sans-serif;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.color-box-team {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 10px 30px;
  background-color: rgba(0, 0, 0, 0.72);
}

.div-tittle {
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.tetimonials {
  padding-bottom: 70px;
}

.testimonials-container {
  text-align: center;
}

.textbar {
  padding-top: 70px;
  padding-bottom: 70px;
  border-top-style: none;
  background-color: #f62681;
  background-image: url('../images/first-electric-duck.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.textbar.over-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.color {
  color: #f62681;
}

.copyright-div {
  margin-top: 20px;
}

.logo-footer {
  display: block;
  background-image: url('../images/favicon.png');
  /* background-position: 50% 50%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}

.black-box {
  margin-right: 5px;
  padding-left: 5px;
  background-color: rgba(74, 74, 74, 0.47);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.black-box:hover {
  background-color: #4a4a4a;
}

.skills-column {
  height: 328px;
  padding-top: 20px;
  padding-right: 66px;
  padding-left: 66px;
  background-image: url('../images/img2.png');
  background-size: cover;
}

.skills-column.mac {
  height: auto;
  padding-right: 0px;
  padding-left: 10px;
  background-image: none;
}

.skllls-div {
  display: block;
  width: 100%;
}

.skills-div-block {
  display: inline-block;
  width: 100%;
  height: 6px;
  padding-left: 0px;
  background-color: #f62681;
}

.skills-line {
  width: 70%;
  height: 100%;
  background-color: #4a4a4a;
}

.skills-line.second {
  width: 80%;
}

.skills-line.third {
  width: 90%;
}

.skills-line.fourth {
  width: 65%;
}

.skills-1 {
  display: block;
  width: 90%;
  margin-right: 25px;
  margin-left: 25px;
}

.percentual {
  float: right;
  font-family: Karla, sans-serif;
  font-size: 14px;
}

.ttitle-skills {
  float: left;
  font-family: Karla, sans-serif;
  font-size: 14px;
  text-transform: none;
}

.testimonilas-slide {
  height: 350px;
  background-color: transparent;
}

.slide {
  display: inline-block;
  width: 33.3%;
  text-align: center;
}

.mask {
  margin-right: 65px;
  margin-left: 65px;
  background-image: url('../images/first-electric-duck.png');
}

.photo-div {
  display: inline-block;
  width: 90px;
  height: 90px;
  padding-top: 0px;
  border: 2px solid rgba(150, 151, 153, 0.2);
  border-radius: 100px;
  background-image: url('../images/okay22-min.jpg');
  background-position: 50% 50%;
  background-size: 125px;
  text-align: center;
}

.photo-div.second {
  background-image: url('../images/staff6.jpg');
}

.photo-div.third {
  background-image: url('../images/shutterstoack_130103273.min_.jpg');
  background-position: 50% 7%;
  background-size: 147px;
}

.photo-div.fourth {
  background-image: url('../images/shutterstock_95201956.min-1.jpg');
}

.photo-div.fith {
  background-image: url('../images/man.png');
  background-position: 50% 32%;
}

.name {
  color: #f62681;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.success-text {
  font-family: Karla, sans-serif;
  color: #4a4a4a;
}

.error-message {
  margin-top: 30px;
  border: 3px dashed #c2c2c2;
  border-radius: 5px;
  background-color: transparent;
}

.error-text {
  font-family: Karla, sans-serif;
  color: #4a4a4a;
}

.textbar-text {
  padding: 22px 20px;
  border: 1px dashed #fff;
  color: #fff;
  font-size: 38px;
  line-height: 43px;
  font-weight: 700;
}

.tittle-post {
  margin-bottom: 50px;
  font-family: Karla, sans-serif;
  font-size: 36px;
}

.simple-menu {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
  background-color: transparent;
}

.mask-2 {
  background-color: #000;
  background-image: url('../images/first-electric-duck.png');
}

.bold-text {
  color: #000;
}

.container-2 {
  color: #000;
}

.bold-text-2 {
  color: #000;
}

.link {
  cursor: pointer;
}

.columns {
  margin-bottom: 40px;
}

.bold-text-3 {
  color: #000;
}

.paragraph {
  color: #404040;
  text-align: left;
}

.paragraph-2 {
  color: #404040;
}

.heading {
  font-family: Karla, sans-serif;
  font-size: 24px;
  text-transform: none;
}

.heading-2 {
  margin-bottom: 0px;
  text-transform: none;
}

html.w-mod-js *[data-ix="display-none"] {
  display: none;
}

html.w-mod-js *[data-ix="upper"] {
     opacity: 0;  
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
}

html.w-mod-js *[data-ix="hero-headline"] {
     opacity: 0;  
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="hero-headline-2"] {
     opacity: 0;  
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="hero-button"] {
     opacity: 0;  
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="hero-line"] {
     opacity: 0;  
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
}

html.w-mod-js *[data-ix="button-hero-button"] {
     opacity: 0;  
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
}

html.w-mod-js *[data-ix="hero-arrow-link-block-2"] {
     opacity: 0;  
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
}

html.w-mod-js *[data-ix="hero-arrow-link-block-3"] {
     opacity: 0;  
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
  transform: translate(0px, 20px) scale(0.9500000000000001, 0.9500000000000001);
}

html.w-mod-js *[data-ix="service-show"] {
  display: block;
     opacity: 0;  
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="service-show-2"] {
     opacity: 0;  
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

html.w-mod-js *[data-ix="service-show-3"] {
  display: block;
     opacity: 0;  
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="navbar"] {
     opacity: 0;  
  -webkit-transform: translate(0px, 22px) scale(0.9500000000000001, 0.9500000000000001);
  -ms-transform: translate(0px, 22px) scale(0.9500000000000001, 0.9500000000000001);
  transform: translate(0px, 22px) scale(0.9500000000000001, 0.9500000000000001);
}

html.w-mod-js *[data-ix="testimonilas-show"] {
     opacity: 0;  
  -webkit-transform: translate(0px, 20px) scale(0.7000000000000001, 0.7000000000000001);
  -ms-transform: translate(0px, 20px) scale(0.7000000000000001, 0.7000000000000001);
  transform: translate(0px, 20px) scale(0.7000000000000001, 0.7000000000000001);
}

html.w-mod-js *[data-ix="fact-show"] {
  display: block;
     opacity: 0;  
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fact-show-2"] {
  display: block;
     opacity: 0;  
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fact-show-3"] {
  display: block;
     opacity: 0;  
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fact-show-4"] {
  display: block;
     opacity: 0;  
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fact-show-5"] {
  display: block;
     opacity: 0;  
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="fact-show-6"] {
  display: block;
      opacity: 0;  
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="phone"] {
      opacity: 0;  
  -webkit-transform: translate(0px, -75px);
  -ms-transform: translate(0px, -75px);
  transform: translate(0px, -75px);
}

html.w-mod-js *[data-ix="phone-2"] {
      opacity: 0;  
  -webkit-transform: translate(60px, 0px);
  -ms-transform: translate(60px, 0px);
  transform: translate(60px, 0px);
}

html.w-mod-js *[data-ix="phone-3"] {
      opacity: 0;  
  -webkit-transform: translate(60px, 0px);
  -ms-transform: translate(60px, 0px);
  transform: translate(60px, 0px);
}

html.w-mod-js *[data-ix="service-show-4"] {
      opacity: 0;  
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="testimonilas-show-2"] {
      opacity: 0;  
  -webkit-transform: translate(0px, 20px) scale(0.7000000000000001, 0.7000000000000001);
  -ms-transform: translate(0px, 20px) scale(0.7000000000000001, 0.7000000000000001);
  transform: translate(0px, 20px) scale(0.7000000000000001, 0.7000000000000001);
}

html.w-mod-js *[data-ix="hero-headline-3"] {
      opacity: 0;  
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="show-portfolio-hover"] {
      opacity: 0;  
}

html.w-mod-js *[data-ix="move-down"] {
      opacity: 1;  
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="move-down-2"] {
      opacity: 1;  
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}

html.w-mod-js *[data-ix="show-team-hover"] {
      opacity: 0;  
}

html.w-mod-js *[data-ix="display-none-one-load"] {
  height: 0px;
}

html.w-mod-js *[data-ix="grow-skills-level"] {
  width: 0px;
}

html.w-mod-js *[data-ix="grow-skills-level-2"] {
  width: 0px;
}

html.w-mod-js *[data-ix="grow-skills-level-3"] {
  width: 0px;
}

html.w-mod-js *[data-ix="grow-skills-level-4"] {
  width: 0px;
}

@media (max-width: 991px) {
  body {
    height: auto;
  }
  h1 {
    font-size: 60px;
    line-height: 74px;
    letter-spacing: 0px;
  }
  h3 {
    text-align: left;
  }
  h4 {
    text-align: left;
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .button {
    margin-bottom: 20px;
  }
  .button.hero-button {
    margin-bottom: 0px;
    box-shadow: none;
  }
  .button.hero-button.right {
    box-shadow: none;
    text-align: center;
  }
  .hero-section {
    padding-bottom: 0px;
    background-position: 50% 50%, 50% 50%;
    background-size: cover, auto;
    background-attachment: scroll, scroll;
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2eb6d1;
  }
  .section {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .section.priority {
    padding-top: 0px;
    padding-bottom: 100px;
  }
  .section.oliver {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .hero-small-line {
    margin-left: auto;
    text-align: center;
  }
  .hero-small-line.header {
    position: relative;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .numbers {
    margin-top: auto;
    font-size: 18px;
  }
  .white-tittle {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .white-tittle.fact {
    margin-bottom: 30px;
    font-size: 70px;
  }
  .menu-button {
    margin-right: 0px;
    padding: 14px;
    border-radius: 0px;
    background-color: transparent;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .menu-button:hover {
    background-color: transparent;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  .menu-button.w--open {
    left: 0px;
    top: 0px;
    height: auto;
    padding-left: 18px;
    float: right;
    background-color: hsla(0, 0%, 100%, 0.09);
    text-align: left;
  }
  .div-block {
    margin-right: auto;
    margin-left: auto;
  }
  .overall-column {
    margin-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .socil-icon {
    margin-top: 37px;
  }
  .testimonials-text {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 30px;
  }
  .copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .nav-link {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-transition-property: all;
    transition-property: all;
    text-align: center;
  }
  .nav-link:hover {
    color: #f62681;
  }
  .nav-link.w--current {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-link.w--current:hover {
    display: inline-block;
    background-color: transparent;
  }
  .icon-menu {
    display: block;
    opacity: 1;
    color: #fff;
    font-size: 30px;
    text-align: center;
  }
  .icon-menu.lines {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    color: #2eb6d1;
  }
  .icon-menu.lines:hover {
    color: #28a4bd;
  }
  .navbar-scroll {
    display: block;
    box-shadow: none;
  }
  .hero-headline {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 37px;
    line-height: 48px;
    text-align: center;
    text-shadow: none;
  }
  .nav-menu {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .nav-menu._2 {
    display: block;
    float: none;
    background-color: hsla(0, 0%, 9%, 0.8);
    text-align: center;
  }
  .text-hero {
    margin-right: 100px;
    margin-left: 100px;
  }
  .text-hero.second {
    margin-right: 0px;
    margin-left: 0px;
  }
  .about-text {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .about-text.tittle {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: left;
  }
  .about-text.tittle.center {
    text-align: center;
  }
  .about-text._3 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
  }
  .about-text.right {
    margin-bottom: 0px;
    text-align: left;
  }
  .dark-tittle {
    margin-right: 0px;
    font-size: 35px;
    line-height: 39px;
  }
  .dark-tittle.white {
    border-color: #969799;
  }
  .dark-tittle.white.header {
    margin-left: 10px;
    padding: 5px 13px;
  }
  .dark-tittle.white.left {
    margin-bottom: 20px;
    text-align: center;
  }
  .dark-tittle.light {
    padding-left: 50px;
  }
  .dark-tittle.center {
    margin-right: 170px;
    margin-left: 170px;
    border-color: #fff;
    font-size: 35px;
    text-align: center;
  }
  .icon-service {
    display: inline-block;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 0px;
    float: left;
  }
  .contact-map-fprm {
    padding-right: 0px;
    padding-left: 0px;
  }
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
  .hero-container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .browser-div {
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .browser-div.in-footer {
    text-align: center;
  }
  .browser-div.team-sec {
    margin-top: 150px;
  }
  .text-area {
    min-height: 232px;
    color: #4a4a4a;
  }
  .success-message {
    border-radius: 5px;
    background-color: #f62681;
  }
  .inner-tittle {
    margin-bottom: 50px;
    font-size: 23px;
    line-height: 46px;
    text-align: center;
  }
  .service {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 25px;
  }
  .brand.w--current {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .brand-scroll.w--current {
    float: none;
  }
  .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #28a4bd;
  }
  .logo.white {
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: none;
    color: #fff;
    font-weight: 800;
    text-align: center;
  }
  .hero-text {
    display: inline-block;
    margin-top: 50px;
    padding-left: 10px;
    text-align: center;
  }
  .slider.screen {
    width: 33.3%;
    margin-right: 0px;
  }
  .slide-responsive {
    width: 33%;
  }
  .image-middle {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .right-tittle {
    text-align: left;
  }
  .div-fact {
    width: 24.5%;
  }
  .open {
    position: relative;
  }
  .info-text {
    color: #4a4a4a;
  }
  .tittle-info {
    text-align: left;
  }
  .social-text {
    padding-top: 0px;
  }
  .div-text.center {
    margin-right: 0px;
    margin-left: 0px;
  }
  .tittle {
    margin-bottom: 70px;
    padding-top: 35px;
  }
  .tittle.testimonials {
    border-bottom-style: none;
  }
  .div-row {
    padding-left: 70px;
  }
  .facts {
    padding-top: 0px;
  }
  .facts.bar {
    padding-top: 35px;
  }
  .list-iteam {
    margin-top: 25px;
    margin-bottom: 9px;
  }
  .list-iteam.lat {
    margin-bottom: 20px;
  }
  .div-team {
    width: 230px;
    height: 300px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .div-team.third {
    margin-right: 5px;
    margin-left: 5px;
  }
  .tetimonials {
    padding-bottom: 50px;
  }
  .column-textbar {
    text-align: center;
  }
  .skills-column.mac {
    height: auto;
    padding-right: 0px;
    padding-left: 10px;
  }
  .skllls-div {
    width: 100%;
  }
  .skills-1 {
    width: 90%;
  }
  .testimonilas-slide {
    height: 320px;
  }
  .slide {
    width: 50%;
  }
  .menu-button-1 {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .menu-button-1:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .menu-button-1.w--open {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .icon {
    color: #f62681;
  }
  .success-text {
    color: #fff;
  }
  .simple-m {
    background-color: rgba(0, 0, 0, 0.85);
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    text-align: center;
  }
  p {
    margin-bottom: auto;
  }
  .button.hero-button {
    float: none;
    box-shadow: none;
  }
  .button.hero-button.right {
    box-shadow: none;
    text-align: center;
  }
  .navbar {
    padding-bottom: 20px;
  }
  .section {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .hero-small-line {
    margin-right: 250px;
    margin-left: 250px;
  }
  .hero-small-line.header {
    margin-right: auto;
    margin-left: auto;
  }
  .numbers {
    margin-top: auto;
  }
  .white-tittle {
    margin-bottom: 0px;
  }
  .menu-button {
    margin-right: 10px;
  }
  .browser.compatibility.icon {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .socil-icon {
    margin-top: 30px;
  }
  .socil-icon.safari {
    margin-top: 26px;
  }
  .testimonials-text {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 30px;
    line-height: 35px;
  }
  .copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    text-align: center;
  }
  .nav-link {
    display: block;
    border-radius: 5px;
  }
  .nav-link:hover {
    background-color: #f62681;
  }
  .nav-link.w--current {
    display: block;
    padding-right: 12px;
    padding-left: 12px;
  }
  .nav-link.w--current:hover {
    display: block;
    padding-left: 12px;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.09);
  }
  .hero-headline {
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 50px;
    text-align: center;
    text-shadow: none;
  }
  .nav-menu {
    top: 101px;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .nav-menu._2 {
    top: 14px;
    display: block;
    margin-top: auto;
    margin-bottom: 0px;
    padding-top: 20px;
    float: none;
    text-align: center;
  }
  .testimonilas {
    margin-top: 30px;
  }
  .text-hero {
    margin-right: 70px;
    margin-left: 70px;
  }
  .about-text {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 14px;
    text-align: center;
  }
  .about-text._2 {
    text-align: center;
  }
  .about-text.tittle {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .about-text.tittle.center {
    text-align: center;
  }
  .about-text._3 {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .about-text.right {
    text-align: center;
  }
  .dark-tittle {
    margin: 0px 100px 20px;
    font-size: 30px;
    text-align: center;
  }
  .dark-tittle.white.left {
    text-align: center;
  }
  .dark-tittle.light {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .dark-tittle.center {
    display: block;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 30px;
    text-align: center;
  }
  .icon-service {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    float: none;
    text-align: center;
  }
  .section-info.contact {
    padding-bottom: 110px;
  }
  .contact-map-fprm {
    padding-right: 0px;
    padding-left: 0px;
  }
  .browser-div {
    margin-top: 250px;
  }
  .browser-div.team-sec {
    margin-top: 240px;
  }
  .text-area {
    color: #828282;
  }
  .inner-tittle {
    text-align: center;
  }
  .brand.w--current {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .brand-scroll.w--current {
    display: inline-block;
    margin-left: 0px;
  }
  .brand-scroll.second {
    float: none;
    clear: none;
    text-align: center;
  }
  .logo.white {
    padding-left: 0px;
  }
  .hero-text {
    margin-top: 30px;
    margin-bottom: 70px;
    float: none;
    text-align: center;
  }
  .slider.screen {
    width: 33.3%;
    margin-right: 0px;
  }
  .image-middle {
    margin-bottom: 0px;
  }
  .right-tittle {
    text-align: center;
  }
  .div-fact {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 3px;
    border-right-style: none;
  }
  .form-row {
    margin-top: 30px;
  }
  .social-icons {
    width: 80px;
  }
  .social-text {
    font-size: 13px;
  }
  .number.text {
    padding-bottom: 30px;
    border-bottom: 1px dashed hsla(0, 0%, 76.1%, 0.8);
    border-right-style: none;
  }
  .div-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-text.center {
    margin-right: 10px;
    margin-left: 10px;
  }
  .tittle {
    margin-bottom: 30px;
  }
  .tittle.features {
    margin-bottom: 110px;
  }
  .facts {
    padding-top: 0px;
  }
  .list-iteam {
    text-align: center;
  }
  .div-team.third {
    width: auto;
  }
  .div-tittle {
    margin-bottom: 30px;
  }
  .image-team {
    overflow: hidden;
  }
  .skills-column.mac {
    padding-right: 0px;
  }
  .skllls-div {
    width: 100%;
  }
  .skills-1 {
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .slide {
    width: 100%;
  }
  .menu-button-1 {
    margin-right: 20px;
  }
  .icon {
    color: #fff;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 35px;
    line-height: 48px;
  }
  h2 {
    margin-bottom: 50px;
  }
  h4 {
    text-align: center;
  }
  .button.hero-button.right {
    box-shadow: none;
  }
  .upper {
    margin-bottom: auto;
    font-size: 16px;
  }
  .upper.title {
    margin-top: 0px;
    font-size: 27px;
  }
  .section {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .hero-small-line {
    margin-right: auto;
    margin-left: auto;
  }
  .hero-small-line.header {
    margin-top: 20px;
  }
  .white-tittle {
    margin-bottom: 0px;
    font-size: 22px;
  }
  .menu-button {
    padding: 14px;
  }
  .browser.compatibility.icon {
    width: 65px;
    height: 65px;
    margin: 20px 5px 0px;
    border-radius: 15px;
  }
  .socil-icon {
    width: 26px;
    margin-top: 20px;
  }
  .socil-icon.safari {
    margin-top: 17px;
  }
  .testimonials-text {
    margin-right: 0px;
    margin-left: 0px;
  }
  .copyright {
    margin-right: 20px;
    margin-left: 20px;
  }
  .hero-headline {
    font-size: 38px;
    text-shadow: none;
  }
  .nav-menu {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .nav-menu._2 {
    display: block;
  }
  .text-hero {
    margin-right: 20px;
    margin-left: 20px;
  }
  .about-text {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
  }
  .about-text._2 {
    margin-right: 50px;
    margin-left: 50px;
  }
  .about-text.tittle {
    margin-bottom: auto;
  }
  .about-text._3.center {
    margin-bottom: 50px;
  }
  .dark-tittle {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 26px;
    line-height: 33px;
  }
  .dark-tittle.center {
    margin-right: 10px;
    margin-left: 10px;
    float: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 26px;
  }
  .icon-service {
    display: inline-block;
    margin: 5px 0px 15px;
    float: none;
  }
  .contact-map-fprm {
    padding-right: 0px;
    padding-left: 0px;
  }
  .browser-div {
    margin-top: 100px;
  }
  .browser-div.team-sec {
    margin-top: 105px;
  }
  .text-area {
    color: #828282;
  }
  .inner-tittle {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 23px;
  }
  .brand.w--current {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: left;
  }
  .slider.screen {
    margin-right: 0px;
  }
  .slide-responsive {
    width: 100%;
  }
  .image-middle {
    margin-bottom: 0px;
  }
  .social-icons {
    width: 60px;
  }
  .tittle-info {
    margin-top: 20px;
  }
  .social-text {
    font-size: 12px;
  }
  .div-text.center {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .tittle {
    margin-bottom: 20px;
  }
  .tittle.features {
    margin-bottom: 80px;
  }
  .div-row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .color-box.sixth {
    background-color: rgba(212, 125, 91, 0.9);
  }
  .color-box.fivfth {
    background-color: rgba(91, 143, 212, 0.9);
  }
  .facts {
    padding-top: 0px;
  }
  .list-iteam {
    margin-bottom: 10px;
  }
  .team {
    padding-bottom: 110px;
  }
  .skills-column.mac {
    padding-right: 0px;
    padding-left: 0px;
  }
  .skllls-div {
    display: block;
    padding-top: 12px;
  }
  .skills-1 {
    width: 93%;
  }
  .testimonilas-slide {
    height: 300px;
  }
  .mask {
    margin-right: 20px;
    margin-left: 20px;
  }
  .textbar-text {
    font-size: 30px;
  }
}

